@font-face {
    font-display: swap;
    font-family: 'ClickerScript';
    font-weight: 400;
    src: url('../fonts/clickerScript/ClickerScript-Regular.ttf')
        format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'PlayfairDisplay';
    font-weight: 400;
    src: url('../fonts/playfairDisplay/PlayfairDisplay-Regular.ttf')
        format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'PlayfairDisplay';
    font-weight: 500;
    src: url('../fonts/playfairDisplay/PlayfairDisplay-Medium.ttf')
        format('truetype');
}
@font-face {
    font-display: swap;
    font-family: 'PlayfairDisplay';
    font-weight: 700;
    src: url('../fonts/playfairDisplay/PlayfairDisplay-Bold.ttf')
        format('truetype');
}
