:root {
    --text-color-light: #ffffff;
    --text-color-dark: #707070;
    --text-btn-color-dark: #1e1e1e;
    --button-bg-color: #f9c06a;
    --button-bg-color-hover: #dc9f45;

    --card-bg-color: #fff9f1;

    --text-section-title: #603809;
}

$button-bg-color: #f9c06a;
