.description {
    padding-top: 150px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        max-width: 585px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 30px;
    }
}
