.footer {
    background: url("../images/footer_coffee.png") center / cover no-repeat;
    background-color: $footer-shadow;
    padding: 162px 0 72px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 66px;
    }
    &__info {
        max-width: 380px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        font-size: 14px;
        line-height: 22px;
        color: var(--text-color-light);
        margin-bottom: 20px;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        gap: 66px;
    }
    &__nav {
        width: 36%;
        &-title {
            font-size: 26px;
            font-weight: 700;
            color: var(--text-color-light);
            margin-bottom: 55px;
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &-item {
            color: var(--text-color-light);
            font-size: 18px;

            & > a {
                font-size: 18px;
                line-height: 1;
                font-weight: 400;
                color: var(--text-color-light);
            }

            & a::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background-color: #fff;
                transition: 0.3s all;
            }
            & a:hover:after {
                width: 100%;
            }
        }
    }
    &__address {
        font-style: normal;
    }
}
