.reviews {
    position: relative;
    padding: 82px 0;
    text-align: center;
    overflow: hidden;

    &__coffee-img {
        position: absolute;
        z-index: 1;

        &_1 {
            left: 0;
            bottom: 82px;
        }
        &_2 {
            top: 131px;
            right: 0;
        }
    }
    &__title {
        margin-bottom: 16px;
    }
    &__subtitle {
        margin-bottom: 45px;
    }
    &__wrapper {
        position: relative;
        max-width: 980px;
        margin: 0 auto;
    }
    &__button {
        position: absolute;
        width: 82px;
        height: 82px;
        background: var(--button-bg-color);
        box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
        border-radius: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        &.swiper-button-disabled {
            opacity: 0.5;
        }
        &-prev {
            top: 50%;
            left: -41px;
            transform: translateY(-50%) rotate(180deg);
        }
        &-next {
            top: 50%;
            transform: translateY(-50%);
            right: -41px;
        }
    }
    &__item {
        position: relative;
        margin: 0 auto;
        padding: 130px 100px 100px;
        background: var(--card-bg-color);
        border: 1px solid rgba($color: $button-bg-color, $alpha: 0.42);

        &-mark {
            position: absolute;
            top: 32px;
            left: 29px;
            font-size: 220px;
            font-weight: 700;
            line-height: 0.7;
            color: var(--text-section-title);
        }
        &-text {
            font-size: 18px;
            line-height: 2;
            font-weight: 600;
            margin-bottom: 28px;
        }
        &-name {
            color: var(--text-section-title);
            font-size: 32px;
            line-height: 43px;
            font-weight: 700;
            margin-bottom: 4px;
        }
        &-skill {
            font-weight: 400;
        }
        &-avatar {
            width: 112px;
            height: 112px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -60px;
        }
    }
}
