.started {
    padding: 32px 0 82px;
    text-align: center;
    &__subtitle {
        line-height: 1.3;
        margin-bottom: 8px;
    }
    &__title {
        font-size: 30px;
        line-height: 1.3;
        margin-bottom: 24px;
    }
}
